h2{font-size: 30px;
color:blue;
text-align: center;
}

h3{
  text-align: center;  
}

body{
    background-color: lightblue;
}

{
    background-color:white;

}
p{
  color:black;  
}
p{font-size:20px

}
h1{
  color:purple;
  text-align:center;
}
h3{
  color:blueviolet
}

.image{
  width:300%;
}