h2{font-size: 30px;
color:black;
text-align: center;
}

h3{
  text-align: center;  
}

body{
    background-color: whitesmoke;
}

{
    background-color:white;

}
p{
  color:black;  
}
p{font-size:20px

}